div.container-two {
  max-width: 1000px;
  zoom: 80%;
}

div.left-side {
  margin-top: 8rem;
}

div.rotation-right {
  transform: rotateX(29deg) rotateY(51deg);
}

div.move-city-up {
  position: relative;
  margin-top: 6rem;
}

div.move-city-right {
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-top: 4rem;
}

h1.tittle-city {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin-left: 6rem;
  text-transform: uppercase;
  padding: 2rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 50px;
  color: #a1ccf4;
  background-color: #faffff;
  box-shadow: 1px 1px 0 1px #f9f9fb, 5px 0 4px 0 rgb(34 33 81 / 20%),
    18px -12px 0px rgb(157, 205, 250);
}

div.move-content-up {
  margin-top: -32rem;
  margin-bottom: 1rem;
  position: relative;
}

div.changing-position-details {
  position: relative;
  transform: rotateX(345deg) rotateY(53deg);
}

div.width-main-container {
  max-width: 100rem;
}
