@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .App {
    zoom: 60%;
  }
}


.App {
  font-family: sans-serif;
  text-align: center;
  zoom: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(#3a7bd5, #00d2ff);
  background-attachment: fixed;
}
